{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact-list{{end}}
{{ define "header_classes" }}{{ if .Params.header_transparent }}header-transparent{{ end }}{{ end }}

{{ define "main" }}

    {{ if .Params.hero }}
        {{ partial "components/hero.html" (dict "title" .Title "description" .Params.description "background" .Params.hero.background "blend_mode" .Params.hero.blend_mode "theme" .Params.hero.theme)}}
        <div class="strip theme-base">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="info">
                            <div class="info-columns">
                                <div class="info-content">
                                    {{ .Content }}
                                </div>
                                <div class="info-media">
                                    {{ if .Params.image }}
                                    <img width="390" height="260" class="img-fluid" src="{{ .Params.image| absURL }}"/>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}

{{ end }}